/bin/
org.eclipse.*
.project
.classpath
.settings
/target/
.jar
!Grammar_Fuzzing*.jar
*.response.xml
!doc/**.response.xml
*ontinued.request.xml
*ontd.request.xml
*ontd2.request.xml
*CloseStringRequest.request.xml
*CloseIntegerRequest.request.xml
